[Desktop Entry]
Type=Application
Name=Add Aptosid Desktop Icons
Exec=add-aptosid-desktop-icons
StartupNotify=false
NoDisplay=true

X-GNOME-Autostart-Phase=Initialization
X-KDE-autostart-phase=1
